/* You can add global styles to this file, and also import other style files */
body{
    background: url(https://p4.wallpaperbetter.com/wallpaper/211/841/142/download-nature-for-pc-1920x1080-wallpaper-preview.jpg);
    background-size: cover;
    color: white;
}

